<div class="text-center" data-gr-c-s-loaded="true">
  <img src="images/adventureHeader.png" width="100%">
</div>

<div class="container">
<br>
    <form id="quiz" name="quiz">
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" width="350" height="280" src="images/bmo.png"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
          <div class="col p-4 d-flex flex-column position-static">

            <h3>What is Jake?</h3>
            <ul>
              <input type="radio" id="mc" value="ManBeast" name="question1" /> ManBeast</ul>
            <ul>
              <input type="radio" id="mc" value="Fish" name="question1" /> Fish</ul>
            <ul>
              <input type="radio" id="mc" value="Dog" name="question1" /> Dog</ul>
            <ul>
              <input type="radio" id="mc" value="Cat" name="question1" /> Cat</ul>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" width="350" height="280" src="images/marceline.png"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3>When Marceline moved into Finn and jakes tree house who moved in with her? </h3>
            <ul>
              <input type="radio" id="mc" value="Bobbie Joe" name="question2" /> Bobbie Joe</ul>
            <ul>
              <input type="radio" id="mc" value="Kramer" name="question2" /> Kramer</ul>
            <ul>
              <input type="radio" id="mc" value=" Slash" name="question2" />  Slash</ul>
            <ul>
              <input type="radio" id="mc" value="Ash" name="question2" /> Ash</ul>
          </div>

        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/iceKing.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>What is jakes ability? </h3>
              <ul>
                <input type="radio" id="mc" value="Stretching" name="question3" /> Stretching</ul>
              <ul>
                <input type="radio" id="mc" value="Sleeping" name="question3" /> Sleeping</ul>
              <ul>
                <input type="radio" id="mc" value="Crying" name="question3" /> Crying</ul>
              <ul>
                <input type="radio" id="mc" value="Baking" name="question3" /> Baking</ul>
            </div>
          </div>
        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/fionna.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>Which is the collect lyrics for What am i to you? </h3>
              <ul>
                <input type="radio" id="mc" value="Do you think Im a joke" name="question4" /> Do you think Im a joke</ul>
              <ul>
                <input type="radio" id="mc" value="Am I Joke, your knight or your brother?" name="question4" /> Am I Joke, your knight or your brother?</ul>
              <ul>
                <input type="radio" id="mc" value="Who, Who do you love?" name="question4" /> Who, Who do you love?</ul>
              <ul>
                <input type="radio" id="mc" value="What's love got to do with it?" name="question4" /> What's love got to do with it?</ul>
            </div>
          </div>
        </div>
        <br>
                <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/princess.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>What is marcelines weapon?</h3>
              <ul>
                <input type="radio" id="mc" value="Sword" name="question5" /> Sword</ul>
              <ul>
                <input type="radio" id="mc" value="Knife" name="question5" /> Knife</ul>
              <ul>
                <input type="radio" id="mc" value="Hammer" name="question5" /> Hammer</ul>
              <ul>
                <input type="radio" id="mc" value="Base Axe" name="question5" /> Base Axe</ul>
            </div>
          </div>
        </div>
        <br>
    </form>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="checkAdventure();">
 Submit Battle Responses
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Combat Squad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="nova" src="images/adventureScore.png">
        <p id="number_correct"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="reset();">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/questions.js"></script>
  </main>
  <br><br>


</div>