<div class="text-center" data-gr-c-s-loaded="true">
    <img src="images/headerType.png" width="100%">
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <h4>Choose a game board:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="images/marvelMania.png"><br><br>
            <button type="button" class="btn btn-primary">Start Game</button><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="images/whoniverse.png"><br><br>
            <button type="button" class="btn btn-primary">Start Game</button><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="images/landOfOoo.png"><br><br>
            <button type="button" class="btn btn-primary">Start Game</button><br><br>
        </div>
    </div>




</div>
<br>