<div class="text-center" data-gr-c-s-loaded="true">
    <img src="images/headerType.png" width="100%">
</div>

<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <h4>Create Your Character</h4>
            <form>
                <div class="form-group">
                    <label for="characterName">Character Name</label>
                    <input type="text" class="form-control" id="characterName" placeholder="Character Name">
                </div>
                <div class="form-group">
                    <label for="characterClass">Class</label>
                    <input type="text" class="form-control" id="characterClass" placeholder="Class">
                </div>
                <div class="form-group">
                    <label for="characterAge">Age</label>
                    <input type="text" class="form-control" id="characterAge" placeholder="Age">
                </div>
                <div class="form-group">
                    <label for="characterHeight">Height</label>
                    <input type="text" class="form-control" id="characterHeight" placeholder="Height">
                </div>
                <div class="form-group">
                    <label for="characterStrength">Strength</label>
                    <input type="text" class="form-control" id="characterStrength" placeholder="Strength">
                </div>
                <div class="form-group">
                    <label for="characterWeakness">Weakness</label>
                    <input type="text" class="form-control" id="characterWeakness" placeholder="Weakness">
                </div>
                <div class="form-group">
                    <label for="characterDescription">Description</label>
                    <input type="text" class="form-control" id="characterDescription" placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="characterPhoto">Character Photo</label>
                    <input type="text" class="form-control" id="characterPhoto" placeholder="Image URL">
                </div>
                <a href="/squad">
            <button type="button" class="btn btn-primary">Submit</button></a>
            </form>
        </div>
        <div class="col">
            <h4>Example Character</h4>
            <br>
            <div class="card" style="width: 18rem;">
                <img src="images/connie.png" class="card-img-top" alt="Connie">
                <div class="card-body">
                    <h5 class="card-title">Connie</h5>
                    <p class="card-text">Connie is a female hormone monster who has been roaming the world for over
                        thousands of years.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Class: Hormone Monstress</li>
                    <li class="list-group-item">Age: 1000+</li>
                    <li class="list-group-item">Height: 6'7</li>
                    <li class="list-group-item">Strength: Cunning</li>
                    <li class="list-group-item">Weakness: Bubblegum</li>
                </ul>
            </div>
        </div>
    </div>
    <br>