<div class="text-center" data-gr-c-s-loaded="true">
  <img src="images/marvelHeader.png" width="100%">
</div>

<div class="container">
<br>
    <form id="quiz" name="quiz">
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" width="350" height="280" src="images/drStrange.png"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
          <div class="col p-4 d-flex flex-column position-static">

            <h3>What does Rhomann Dey call Star-Lord when he arrests him?</h3>
            <ul>
              <input type="radio" id="mc" value="Star-Fire" name="question1" /> Star-Fire</ul>
            <ul>
              <input type="radio" id="mc" value="Star-Lord" name="question1" /> Star-Lord</ul>
            <ul>
              <input type="radio" id="mc" value="Star-Prince" name="question1" /> Star-Prince</ul>
            <ul>
              <input type="radio" id="mc" value="Star-Guy" name="question1" /> Green</ul>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" width="350" height="280" src="images/thanos.png"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3>What was Red Skulls real name? </h3>
            <ul>
              <input type="radio" id="mc" value="Johann Schmidt" name="question2" /> Johann Schmidt</ul>
            <ul>
              <input type="radio" id="mc" value="Hugo Weaving" name="question2" /> Hugo Weaving</ul>
            <ul>
              <input type="radio" id="mc" value="Arnim Zola" name="question2" /> Arnim Zola</ul>
            <ul>
              <input type="radio" id="mc" value="Abraham Erskine" name="question2" /> Abraham Erskine</ul>
          </div>

        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/gamora.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>In 'Iron Man 2,' what supposedly bunker-busting smart missile fizzled when War Machine tried to use it? </h3>
              <ul>
                <input type="radio" id="mc" value="The Punisher" name="question3" /> The Punisher</ul>
              <ul>
                <input type="radio" id="mc" value="Widow Maker" name="question3" /> Widow Maker</ul>
              <ul>
                <input type="radio" id="mc" value="Ex-Wife" name="question3" /> Ex-Wife</ul>
              <ul>
                <input type="radio" id="mc" value="Jericho Missile" name="question3" /> Jericho Missile</ul>
            </div>
          </div>
        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/hela.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>What race is Ronan the Accuser?  </h3>
              <ul>
                <input type="radio" id="mc" value="Asgardian" name="question4" /> Asgardian</ul>
              <ul>
                <input type="radio" id="mc" value="Kree" name="question4" /> Kree</ul>
              <ul>
                <input type="radio" id="mc" value="Human" name="question4" /> Human</ul>
              <ul>
                <input type="radio" id="mc" value="Xandarian" name="question4" /> Xandarian</ul>
            </div>
          </div>
        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/bucky.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>Who said, "You've been asleep Cap' for almost 70 years"? </h3>
              <ul>
                <input type="radio" id="mc" value="Thanos" name="question5" /> Thanos</ul>
              <ul>
                <input type="radio" id="mc" value="Ultron" name="question5" /> Ultron</ul>
              <ul>
                <input type="radio" id="mc" value="King Oden" name="question5" /> King Oden</ul>
              <ul>
                <input type="radio" id="mc" value="Fury" name="question5" /> Fury</ul>
            </div>
          </div>
        </div>
        <br>
    </form>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="checkMarvel();">
 Submit Battle Responses
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Combat Squad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="nova" src="images/Guardians-of-the-Galaxy-Nova-Corps.jpg">
        <p id="number_correct"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="reset();">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </main>
  <br><br>
</div>