<div class="text-center" data-gr-c-s-loaded="true">
  <img src="images/marvelHeader.png" width="100%">
</div>

<div class="container">
<br>
    <form id="quiz" name="quiz">
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" width="350" height="280" src="images/drStrange.png"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
          <div class="col p-4 d-flex flex-column position-static">

            <h3>What color is Thanos?</h3>
            <ul>
              <input type="radio" id="mc" value="blue" name="question1" /> Blue</ul>
            <ul>
              <input type="radio" id="mc" value="Purple" name="question1" /> Purple</ul>
            <ul>
              <input type="radio" id="mc" value="red" name="question1" /> Red</ul>
            <ul>
              <input type="radio" id="mc" value="green" name="question1" /> Green</ul>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" width="350" height="280" src="images/thanos.png"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3>Who is Starloards favorite actor? </h3>
            <ul>
              <input type="radio" id="mc" value="Brian Cranston" name="question2" /> Brian Cranston</ul>
            <ul>
              <input type="radio" id="mc" value="Samual L. Jackson" name="question2" /> Samual L. Jackson</ul>
            <ul>
              <input type="radio" id="mc" value="Kevin Bacon" name="question2" /> Kevin Bacon</ul>
            <ul>
              <input type="radio" id="mc" value="Chris Pratt" name="question2" /> Chris Pratt</ul>
          </div>

        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/gamora.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>Where is SpiderMan from? </h3>
              <ul>
                <input type="radio" id="mc" value="Queens" name="question3" /> Queens</ul>
              <ul>
                <input type="radio" id="mc" value="Orlando" name="question3" /> Orlando</ul>
              <ul>
                <input type="radio" id="mc" value="Brooklyn" name="question3" /> Brooklyn</ul>
              <ul>
                <input type="radio" id="mc" value="Portland" name="question3" /> Portland</ul>
            </div>
          </div>
        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/hela.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>How many kids does HawkEye have? </h3>
              <ul>
                <input type="radio" id="mc" value="Five" name="question4" /> Five</ul>
              <ul>
                <input type="radio" id="mc" value="Twelve" name="question4" /> Twelve</ul>
              <ul>
                <input type="radio" id="mc" value="Three" name="question4" /> Three</ul>
              <ul>
                <input type="radio" id="mc" value="Two" name="question4" /> Two</ul>
            </div>
          </div>
        </div>
        <br>
    </form> <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="checkMarvel();">
 Submit Battle Responses
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Combat Squad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="nova" src="images/Guardians-of-the-Galaxy-Nova-Corps.jpg">
        <p id="number_correct"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="reset();">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/questions.js"></script>
  </main>
  <br><br>


</div>