
    <!-- NAVBAR START -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home.html"><img src="images/combatSmall.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Marvel Mania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Whoniverse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Land of Ooo</a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="character.html">Create A Character</a>
                </li>
                <li class="nav-item mr-sm-2">
                    <a class="nav-link my-2 my-sm-0" href="#">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- HEADER LOGO -->
    <div class="text-center" data-gr-c-s-loaded="true">
        <img src="images/headerType.png" width="100%">
    </div>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-8">
                <h4>Your Squad:</h4>
            </div>
            <div class="col-sm-4"><button type="submit" class="btn btn-primary" style="width: 18rem;">Start
                    Game</button></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="images/connie.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Class: </li>
                        <li class="list-group-item">Age: </li>
                        <li class="list-group-item">Height: </li>
                        <li class="list-group-item">Strength: </li>
                        <li class="list-group-item">Weakness: </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="images/jay.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Class: </li>
                        <li class="list-group-item">Age: </li>
                        <li class="list-group-item">Height: </li>
                        <li class="list-group-item">Strength: </li>
                        <li class="list-group-item">Weakness: </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="images/coachSteve.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Class: </li>
                        <li class="list-group-item">Age: </li>
                        <li class="list-group-item">Height: </li>
                        <li class="list-group-item">Strength: </li>
                        <li class="list-group-item">Weakness: </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>