<div class="text-center" data-gr-c-s-loaded="true">
  <img src="images/whoHeader.png" width="100%">
</div>

<div class="container">
<br>
    <form id="quiz" name="quiz">
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" width="350" height="280" src="images/eleventh.png"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
          <div class="col p-4 d-flex flex-column position-static">

            <h3>What is the title of the first episode in the first series of Doctor Who?</h3>
            <ul>
              <input type="radio" id="mc" value="Daisy" name="question1" /> Daisy</ul>
            <ul>
              <input type="radio" id="mc" value="Flower" name="question1" /> Flower</ul>
            <ul>
              <input type="radio" id="mc" value="Rose" name="question1" /> Rose</ul>
            <ul>
              <input type="radio" id="mc" value="Growth" name="question1" /> Growth</ul>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

            <img class="bd-placeholder-img" width="350" height="280" src="images/bille.png"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <h3>What job did Donna Noble's grandad have? </h3>
            <ul>
              <input type="radio" id="mc" value="Astronomer" name="question2" /> Astronomer</ul>
            <ul>
              <input type="radio" id="mc" value="Newspaper Seller" name="question2" />  Newspaper Seller</ul>
            <ul>
              <input type="radio" id="mc" value="Garbage Collector" name="question2" /> Garbage Collector</ul>
            <ul>
              <input type="radio" id="mc" value="Coffee Shop Owner" name="question2" /> Coffee Shop Owner</ul>
          </div>

        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/dalek.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>What does TARDIS stand for? </h3>
              <ul>
                <input type="radio" id="mc" value="Travelling and reaching destinations in style" name="question3" /> Travelling and reaching destinations in style</ul>
              <ul>
                <input type="radio" id="mc" value="Test are really dumb ironically sane" name="question3" /> Test Are Really Dumb Ironically Sane</ul>
              <ul>
                <input type="radio" id="mc" value="Time and relative dimensions in space" name="question3" /> Time and relative dimensions in space</ul>
              <ul>
                <input type="radio" id="mc" value="Times are realative disfunctions in squares" name="question3" /> Times are rrealative disfunction</ul>
            </div>
          </div>
        </div>
        <br>
        <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/angels.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>Captain Jack Harkness, Doctor's former travelling companion and now leader of Torchwood, cannot what? </h3>
              <ul>
                <input type="radio" id="mc" value="Age" name="question4" /> Age</ul>
              <ul>
                <input type="radio" id="mc" value="Digest Cheese" name="question4" /> Digest Cheese</ul>
              <ul>
                <input type="radio" id="mc" value="Read" name="question4" /> Read</ul>
              <ul>
                <input type="radio" id="mc" value="Die" name="question4" /> Die</ul>
            </div>
          </div>
        </div>
        <br>
                <div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">

              <img class="bd-placeholder-img" width="350" height="280" src="images/river.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <h3>What is broken in the TARDIS that prevents it from blending in to any and every place? </h3>
              <ul>
                <input type="radio" id="mc" value="Flux Capacitor" name="question5" /> Flux Capacitor</ul>
              <ul>
                <input type="radio" id="mc" value="The Chamaelon Circumference" name="question5" /> The Chamaelon Circumference</ul>
              <ul>
                <input type="radio" id="mc" value="Batteries havn't been replaced" name="question5" /> Batteries havn't been replaced</ul>
              <ul>
                <input type="radio" id="mc" value="The Chameleon Circuit" name="question5" /> The Chameleon Circuit</ul>
            </div>
          </div>
        </div>
        <br>
    </form>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="checkWho();">
 Submit Battle Responses
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Combat Squad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="nova" src="images/Guardians-of-the-Galaxy-Nova-Corps.jpg">
        <p id="number_correct"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="reset();">Close</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/questions.js"></script>
  </main>
  <br><br>


</div>