.list-group-item {
  line-height: 2.5;
}

.form-signin {
  color: #fff;
  background-color: #212529;
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
  padding: 35px;
  margin: auto;
}

.text-center {
  text-align: center!important;
}

.home {
  background-image: url(../images/character.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}


.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}


#quiz {
  width: 1100px;
  height:1200px;
  padding-left: 200px;
}

.questionBox {
background-color: lightgrey;
}

